@import "../../../Colors";

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;

  .profile-wrapper {
    width: 80rem;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;

    .left {
      flex: 1;
      background-color: $primary;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .display-pic {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          filter: brightness(0.8);
        }
      }

      .user-info {
        text-align: center;
        color: #fff;

        > h2 {
          margin-bottom: -0.5rem;
        }
      }

      .update-btns {
        text-align: center;
        // width: 100%;

        > a {
          width: 100%;
          > button {
            font-weight: 600;
            display: inline-block;
          }
        }
      }
    }

    .right {
      flex: 1.5;
      background-color: $bg-card;
      padding: 3rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .edit-icon {
        position: absolute;
        right: 2rem;
        top: 2rem;

        font-size: 2rem;
        color: $primary;
      }

      .address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        height: 100%;
        width: 100%;

        div {
          display: flex;
          gap: 3rem;

          h4 {
            flex: 1;
            text-align: right;
            color: #555;
          }
          p {
            flex: 1;
          }
        }
      }

      .order-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        > a > button {
          font-weight: 600;
          padding: 0.8rem 3.2rem;
          border-radius: 30px;
        }

        &.right-align {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .profile {
    display: initial;
    height: initial;

    > .profile-wrapper {
      flex-direction: column;
      width: 100%;
      border-radius: 0;

      .right {
        .order-btns {
          margin-top: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .profile {
    > .profile-wrapper {
      flex-direction: column;

      .right {
        .address {
          div {
            font-size: 1.4rem;
            gap: 1rem;
          }
        }
        > .order-btns {
          // flex-direction: column;
          > a {
            // width: 100%;
            > button {
              // width: 100%;
              font-size: 1.2rem;
              padding: 0.5rem 1.6rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 355px) {
  .profile {
    margin-top: 12rem;
    > .profile-wrapper {
      .right {
        .address {
          div {
            text-align: left;
            display: initial;

            > h4 {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
