@import "../../Colors";

.product {
  display: inline-block;
  max-width: 30rem;
  padding: 1.6rem;
  position: relative;
  background-color: $bg-card;
  transition: all 0.3s;

  &:hover {
    // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }

  > img {
    width: 25rem;
    display: block;
    margin: 0 auto;
    // transition: all 0.3s;

    // &:hover {
    //   transform: scale(1.05);
    // }
  }

  > .body {
    margin-top: 0.8rem;

    > h3 {
      color: $text;
    }

    > span {
      margin-top: 0.4rem;
      display: flex;
      // align-items: center;
      // justify-content: center;
      gap: 0.5rem;

      > span {
        font-size: 1.4rem;
        color: #333;
        font-weight: 500;
      }
    }
  }

  > .bottom {
    margin-top: 0.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .price {
      display: flex;
      flex-direction: column;

      > small {
        color: #747474;
        font-size: 1.2rem;
        font-weight: 700;
        display: inline-block;
        margin-bottom: -0.5rem;
      }

      > h3 {
        color: $text;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .product {
    > .body > h3 {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 1175px) {
  .product {
    > img {
      width: 80%;
    }

    > .body > h3 {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 1070px) {
  .product {
    > .body > h3 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 955px) {
  .product {
    > .body > h3 {
      line-height: 1.3;
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 875px) {
  .product {
    > .body > h3 {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .product {
    > .bottom > .price > h3 {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .product {
    > .body {
      > h3 {
        font-size: 1.4rem;
      }

      > span > span {
        font-size: 1.2rem;
      }
    }
  }
}
