@import "../../../Colors";

.update-password {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    margin: 0 auto;
    margin-bottom: 2rem;
    display: block;
  }

  h2 {
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
  }
}
