@import "../../Colors";

.rating {
  align-items: center;
  font-size: 1.4rem;
  color: $primary;
  display: flex;
  align-items: center;
  gap: 0.3rem;

  > span {
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .rating {
    font-size: 1.2rem;
  }
}
