@import "../../../Colors";

.create-category {
  // height: 80vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  background-color: $bg-card;

  > .wrapper {
    text-align: center;

    > h2 {
      color: #444;
      margin-top: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }

  .image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .create-category {
    background-color: #fff;
  }
}
