@import "../../Colors";

.featured-products {
  margin-top: 3.2rem;
  > h2 {
    color: $text;
  }

  > div {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 4rem;
  }
}

@media screen and (max-width: 1400px) {
  .featured-products > div {
    gap: 2rem;
  }
}

@media screen and (max-width: 1070px) {
  .featured-products > div {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 600px) {
  .featured-products > div {
    grid-template-columns: repeat(2, auto);
  }

  .featured-products {
    > h2 {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .featured-products > h2 {
    font-size: 2rem;
  }
}
