@import "../../Colors";

.categories {
  margin-top: 3.2rem;
  // overflow-x: hidden;

  .categories-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h2 {
      color: $text;
    }

    > a {
      font-size: 1.6rem;
      font-weight: 600;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      &:hover {
        color: $primary;
      }
    }
  }

  > div {
    margin-top: 1.2rem;

    display: grid;
    grid-template-columns: repeat(8, auto);
    row-gap: 2rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1450px) {
  .categories > div {
    grid-template-columns: repeat(7, auto);
  }
}

@media screen and (max-width: 1240px) {
  .categories > div {
    grid-template-columns: repeat(6, auto);
  }
}

@media screen and (max-width: 1080px) {
  .categories > div {
    grid-template-columns: repeat(5, auto);
  }
}

@media screen and (max-width: 820px) {
  .categories > div {
    gap: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .categories > div {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 600px) {
  .categories {
    .categories-title > h2 {
      font-size: 2.2rem;
    }

    > div {
      grid-template-columns: repeat(6, auto);
      gap: 1rem;
      overflow-x: auto;

      /* width */
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .categories > .categories-title > h2 {
    font-size: 2rem;
  }
}
