@import "../../Colors";

.side-layout {
  display: flex;
  // overflow-x: hidden;
  // position: relative;
  transition: all 0.3s;

  .body {
    padding: 0 3rem;
    padding-top: 4rem;
    width: 100%;
    // background-color: $bg-card;
  }
}
