@import "../../../Colors";

.update-order {
  display: flex;
  justify-content: space-around;

  > .my-orders {
    // flex: 7;
    padding-right: 1rem;

    > .bottom {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

  > .process-order {
    // flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #5552;
    padding-left: 1rem;

    > form {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      > h2 {
        text-align: center;
        color: #333;
        font-weight: 600;
      }

      > select {
        width: 25rem;
        padding: 1rem;
        border-color: #5552;
        color: #555;
        outline: none;
      }

      option {
        color: #555;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .update-order {
    > .my-orders {
      > h2 {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 1086px) {
  .update-order {
    > .my-orders {
      > h2 {
        font-size: 2.4rem;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .update-order {
    > .my-orders {
      > h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .update-order {
    > .my-orders {
      > h2 {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .update-order {
    > .my-orders {
      > h2 {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .update-order {
    display: flex;
    flex-direction: column-reverse;

    > .process-order {
      border: 0;
      border-bottom: 1px solid rgba(85, 85, 85, 0.133);
      padding-bottom: 2rem;

      > form {
        width: 100%;

        > select {
          width: 100%;
          font-size: 1.8rem;
        }
      }
    }
  }
}
