@import "../../Colors";

.products {
  padding: 6rem 0;
  transition: all 0.3s;

  > .top-bar {
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-card;
    padding: 1rem;
    display: none;

    > button {
      font-family: inherit;
      background: #fff;
      border: none;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      gap: 0.5rem;
      cursor: pointer;
      // color: $primary;

      > span {
        font-size: 1.4rem;
      }
    }

    > .sort-price {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > span {
        font-size: 1.4rem;
        color: $text;
      }

      > select {
        border: none;
        font-family: inherit;
        color: $text;
        padding: 0.5rem 1rem;
        cursor: pointer;

        > option {
          font-family: inherit;
          border: none;
        }
      }
    }
  }

  > .bottom {
    display: flex;
    gap: 5rem;
    transition: all 0.3s;
    position: relative;

    .left {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      transition: all 0.3s;
      position: sticky;
      left: 0;
      top: 0;

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        background: none;
        border: none;
        font-family: inherit;
        background-color: $bg-card;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
        font-size: large;
        color: #555;
        transition: all 0.3s;
        display: none;

        &:hover {
          background-color: hsl(0, 0%, 90%);
        }
      }

      > .card {
        width: 20rem;
        padding: 1.6rem;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: rgba(220, 220, 220, 0.6);
          position: absolute;
          left: 0;
          top: 5rem;
        }

        > p {
          margin-bottom: 2rem;
          color: #555;
        }

        > .rating-filter {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .right {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, auto);
      // align-items: start;
      place-content: start;
      gap: 5rem;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1400px) {
  .products {
    > .bottom > .right {
      grid-template-columns: repeat(3, auto);
    }
  }
}

// @media screen and (max-width: 1100px) {
//   .products {
//     .right {
//       grid-template-columns: repeat(3, auto);
//     }
//   }
// }

@media screen and (max-width: 1100px) {
  .products {
    padding: 3rem 0;

    > .top-bar {
      display: flex;
    }

    > .bottom > .left {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 999;
      width: max-content;
      padding: 2rem;
      height: 100%;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
      overflow-y: auto;
      transition: all 0.3s;
      transform: translateX(-100%);
      opacity: 0;

      > button {
        display: flex;
      }

      &.active {
        display: flex;
        transform: translateX(0);
        opacity: 1;
      }
    }

    > .bottom > .right {
      grid-template-columns: repeat(3, auto);
      gap: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .products {
    > .bottom > .right {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media screen and (max-width: 450px) {
  .products > .top-bar {
    > .sort-price > span {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
