@import "../../Colors";

.products {
  display: flex;
  gap: 5rem;

  .left {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    > .card {
      width: 20rem;
      padding: 1.6rem;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(220, 220, 220, 0.6);
        position: absolute;
        left: 0;
        top: 5rem;
      }

      > p {
        margin-bottom: 2rem;
        color: #555;
      }

      > .rating-filter {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1400px) {
  .products {
    .right {
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media screen and (max-width: 1100px) {
  .products {
    .right {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media screen and (max-width: 1100px) {
  .products {
    .left {
      display: none;
    }
    .right {
      grid-template-columns: repeat(3, auto);
      gap: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .products {
    .left {
      display: none;
    }
    .right {
      grid-template-columns: repeat(2, auto);
    }
  }
}
