@import "../../Colors";

.navbar {
  padding: 1.8rem 0;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 700;
  transition: all 0.3s;

  &.scrolled {
    background-color: white;
    padding: 1rem 0;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
  }

  > .input-search-bar {
    display: none;
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .nav-right-tab {
      display: none;
    }

    > .right {
      display: flex;
      align-items: center;
      gap: 3rem;

      > .vr-line {
        height: 3rem;
        background-color: #c6c6c6;
        width: 0.5px;
        // transform: translateY(-2px);
      }

      > a {
        font-size: 1.8rem;
        font-weight: 600;
        transition: all 0.3s;
        display: flex;
        align-items: center;

        &:hover {
          color: $primary;
        }

        > img {
          width: 4.2rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar > .container > .right > .product-link {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar > .container > .right {
    gap: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar > .container > .right > .input-search-bar {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .input-search-bar {
      display: flex;
      width: 90%;
      border-radius: 5px;

      > input {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    position: initial;
  }
}
